#pixel-board {
  width: 210px;
  text-align: center;
  display: grid;
  grid-template-columns: auto auto auto auto auto;
}

.color {
  border: 1px solid rgb(0, 0, 0);
  display: inline-block;
  width: 40px;
  height: 40px;
  margin-left: 0.5%;
}

.pixel {
  border: 1px solid rgb(0, 0, 0);
  width: 40px;
  height: 40px;
  display: inline-block;
}


